body {
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    overflow-y: hidden;
}

#s1 {
    height: 100vh;
    display: grid;
    align-items: center;
}

.name {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    font-size: 32px;
}

.imgn {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

.dwn {
    grid-column: 1 / span 2;
    grid-row: 2;
    justify-self: center;
}

#s2 {
    height: 100vh;
    display: grid;
}

.up {
    justify-self: center;
    align-self: center;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.dwn, .up {
    animation: scaleAnimation 3s infinite; 
}

/* Estilos para enlaces */
a {
    color: white;
    text-decoration: none;
}

/* Estilos para botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.info {
    padding-left: 10%;
    padding-right: 10%;
    
}

.btnD {
    text-align: center;
}

.name a{
    padding-right: 3%;
}

.btnD a{
    padding-right: 3%;
}

.info h2{
    font-size: 40px;
}

.info p{
    font-size: 28px;
    text-align: justify;
}
.infoweb.infoweb.visible h2{
    font-size: 40px;
    margin-top: auto;
}

.infoweb.infoweb.visible p{
    font-size: 28px;
    text-align: justify;
    margin-top: 10px;
}

.infoweb {
    display: none;
  }
  
  .infoweb.visible{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, .95);
    z-index: 9999;
    padding: 20px;
    overflow-y: auto;
    margin: 5%;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
  }

  .apokeball {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    background-color: #f44336;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-top: auto;
    margin-bottom: 30px;
    font-weight: bold;
}

.apokeball:hover {
    background-color: #d32f2f;
}

.imgpokeball {
    margin-right: 5px;
}

@media only screen and (max-width: 1000px){
    #s1 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-items: center;
      }
      
      .name {
        justify-self: center;
        text-align: center;
      }
      
      .imgn {
        grid-row: 1;
        justify-self: center;
        position: relative;
        width: 100%;
        height: 100%;
      }
      
      .imgn img {
        position: absolute;
        width: 100%;
        height: auto;
      }
}

.icon_a {
    color: white; /* Color inicial */
    transition: color 0.3s ease; /* Duración de 0.3s y transición suave */
}

.icon_a:hover {
    color: #78bcd3; /* Color en hover */
}


.icon_svg {
    fill: white; /* Color inicial */
    transition: fill 0.3s ease; /* Transición suave */
  }
  
.icon_svg:hover {
    fill: #78bcd3; /* Color al hacer hover, puedes cambiar a otro si prefieres */
  }
  
    
  